<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">

    <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="fileUploadForm" name="fileUploadForm" method="post" action="/document" enctype="multipart/form-data">

                    <div class="modal-header">
                        <h5 class="modal-title">Upload File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>Please click on button to upload a file</p>
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="fileUpload" required>
                            <label class="custom-file-label" for="fileUpload">Choose file...</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-center">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ROW 1 -->
    <div class="row m-5 ">
        <div class="col-6 col-md-4">
            Welcome <span th:text="${firstName}"></span>
        </div>

        <!-- Storage Indicator -->
        <div class="col-6 col-md-4">
            <label>Available Storage</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <!-- Profile & Logout Buttons -->
        <div class="col-6 col-md-4 text-right">
            <a href="/profile" th:href="@{/profile}" class="btn btn-large btn-primary m-2">Profile</a>
            <a href="/signout" th:href="@{/signout}" class="btn btn-large btn-primary">Sign Out</a>
        </div>
    </div>

    <!-- ROW 2 -->
    <div class="row align-items-center text-left mt-4">

        <!-- Dashboard tabs -->
        <div class="col-sm-8">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard/private" th:href="@{/dashboard/private}">Private Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/public" th:href="@{/dashboard/public}">Public Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/trash" th:href="@{/dashboard/trash}">Trash Files</a>
                </li>
            </ul>
        </div>

    </div>

    <!-- ROW 3 -->
    <div class="row mt-4">

        <!-- Search Form -->
        <div class="col-12 col-md-8">
            <form action="/searchbar" class="form-inline active-cyan-4">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search..." aria-label="Search">
                <button type="submit" name="searchtext" class="btn btn-outline-primary">Search</button>
            </form>
        </div>

        <!-- Dropdown Filter -->
        <div class="col-3 col-md-2">

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/filter/name">Name</a>
                    <a class="dropdown-item" href="/filter/size">File Size</a>
                    <a class="dropdown-item" href="/filter/type">File Type</a>
                    <a class="dropdown-item" href="/filter/date">Date Modified</a>
                </div>
            </div>

        </div>

        <!-- Add File Button-->
        <div class="col-3 col-md-2">
            <button type="button" class="btn float-right" id="uploadFileBtn" style="color: #005cbf" data-toggle="modal" data-target="#uploadFileModal">
                Upload File
            </button>
        </div>

    </div>


    <!-- ROW 4 -->
    <div class="row mt-4">

        <!-- Table-->
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>FileName</th>
                    <th>Size</th>
                    <th>TimeStamp</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="document : ${documents}">
                    <td th:text="${document.getFilename()}">FileName</td>
                    <td th:text="${document.getSize()}+ ' bytes'">Size</td>
                    <td th:text="${document.getCreatedDate()}">TimeStamp</td>
                    <td>
                        <a href="JavaScript:Void(0);" class="btn btn-outline-primary">Download</a>
                    </td>
                    <td>
                        <a href="JavaScript:Void(0);" class="btn btn-outline-primary">Share</a>
                    </td>
                    <td>
                        <a href="JavaScript:Void(0);" class="btn btn-outline-danger">Delete</a>
                    </td>
                    <td>
                        <a href="JavaScript:Void(0);" class="btn btn-outline-primary">Pin</a>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>


</div>

<script>
    $('document').ready(function () {
        $('#fileUpload').on('change',function(){
            var fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>
</body>
</html>