<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" style="margin-right: auto" href="/dashboard">File Share</a>

        <div class="form-inline mt-2 mt-md-0">
            <a href="/profile" th:href="@{/profile}"
               class="btn btn-large btn-primary m-2">Profile <i class="material-icons" style="vertical-align: bottom;">account_circle</i></a>
        </div>

        &emsp;<a class="navbar-brand" style="font-size: 1rem" href="/signout" th:href="@{/signout}">Sign Out</a>
    </nav>
</header>


<div class="container" style="margin-top: 7rem">
    <div id="messageAlerts" style="position:relative;">
        <div class="alert alert-success text-center" role="alert" th:if="${message}">
                <span th:text="${message}"></span>
        </div>
        <div class="alert alert-danger text-center" role="alert" th:if="${error}">
                <span th:text="${error}"></span>
        </div>
    </div>

    <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="fileUploadForm" name="fileUploadForm" method="post" action="/document" enctype="multipart/form-data">

                    <div class="modal-header">
                        <h5 class="modal-title">Upload File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>Please click on button to upload a file (No Video Files Allowed)</p>
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file-input" id="fileUpload" required>
                            <label class="custom-file-label" for="fileUpload">Choose file...</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-center">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shareFileModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="fileShareForm" name="fileShareForm" enctype="multipart/form-data" method="POST">
                    <input type = "text" class="d-none hidden" name="fileIndex" id="fileIndex"/>
                    <div class="modal-header">
                        <h5 class="modal-title">Share File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>File Sharing Options</p>
                        <h6>Option 1</h6>
                        <div class="form-group updateFileDescription">
                          <label for="updateFileDescription">Update File Description <span class="small">(optional)</span> :</label>
                          <textarea class="form-control" name="updateFileDescription" id="updateFileDescription" rows="3"></textarea>
                        </div>
                        <button type="submit" class="w-100 btn btn-outline-primary" id="togglePublic">Make Public</button>
                        <hr class="mt-5 mb-4 mx-5"/>
                        <h6 class="mt-3">Option 2</h6>
                        <button type="button" onclick="event.preventDefault(); getShareLink();" class="w-100 btn btn-outline-primary" id="generateLink">Generate Private Access Link</button>
                    </div>
                    <div class="modal-footer">
                        <span id="result" class="w-100 text-center alert alert-success" role="alert">Submit</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ROW 1 -->
    <div class="row">
        <div class="col-md-6">
            <h4>Welcome <span th:text="${firstName}"></span></h4>
        </div>
    </div>

    <div class="row mt-3">
        <!-- Add File Button-->
        <div class="col-md-6">
            <button type="button" class="btn btn-md btn-light" id="uploadFileBtn" style="color: #005cbf" data-toggle="modal" data-target="#uploadFileModal">
                Upload File
            </button>
        </div>
        <!-- Storage Indicator -->
        <div class="col-md-6">
            <p th:text="'Storage Used: ' + ${storageUsage} + '%'"></p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" th:style="'width: ' + ${storageUsage} + '%'" th:aria-valuenow="${storageUsage}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

    </div>

    <!-- ROW 2 -->
    <div class="row align-items-center text-left mt-4">

        <!-- Dashboard tabs -->
        <div class="col-sm-8">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard/private" th:href="@{/dashboard/private}">My Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/public" th:href="@{/dashboard/public}">Public Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/trash" th:href="@{/dashboard/trash}">Trash Files</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row mt-4">

        <!-- Table-->
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Time Stamp</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="document,i : ${documents}">
                    <div th:if="${document.isPinned()}">
                        <td th:text="${document.getFilename()}">FileName</td>
                        <td th:text="${document.getSizeString()}">Size</td>
                        <td th:text="${document.getCreatedDate()}">TimeStamp</td>
                        <td>
                            <a href="JavaScript:Void(0);" th:href="'/document/' + ${i.index}" class="btn btn-outline-primary">Download</a>
                        </td>
                        <td>
                            <a href="JavaScript:Void(0);" th:data-file-description="${document.getDescription()}"
                               th:data-is-public="${document.isPublic()}" th:data-document-index="${i.index}"
                               onclick="initShareModal(this)" class="btn btn-outline-primary"
                               data-toggle="modal" data-target="#shareFileModal">Sharing</a>
                        </td>
                        <td>
                            <a href="JavaScript:Void(0);" th:href="'/document/trash/' + ${i.index}" class="btn btn-outline-danger">Trash</a>
                        </td>
                        <td>
                            <a href="JavaScript:Void(0);" th:href="'/document/unpin/' + ${i.index}" class="btn btn-outline-primary">Unpin</a>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ROW 3 -->
    <div class="row mt-4">

        <!-- Search Form -->
        <div class="col-12 col-md-8">
            <form action="/dashboard/search/" method="post" class="form-inline active-cyan-4">
                <input type = "text" name="searchPhrase" class="form-control form-control-sm mr-3 w-75" placeholder="Search..." aria-label="Search">
                <button type="submit" name="searchtext" class="btn btn-outline-primary">Search</button>
            </form>
        </div>

        <!-- Dropdown Filter -->
        <div class="col-3 col-md-2">

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/dashboard/sort/name" th:href="@{/dashboard/sort/name}">Name</a>
                    <a class="dropdown-item" href="/dashboard/sort/size" th:href="@{/dashboard/sort/size}">File Size</a>
                    <a class="dropdown-item" href="/dashboard/sort/type" th:href="@{/dashboard/sort/type}">File Type</a>
                    <a class="dropdown-item" href="/dashboard/sort/modified" th:href="@{/dashboard/sort/modified}">Date Modified</a>
                </div>
            </div>

        </div>

    </div>


    <!-- ROW 4 -->
    <div class="row mt-4">

        <!-- Table-->
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Time Stamp</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="document,i : ${documents}">
                    <div th:if="${!document.isPinned()}">
                        <td th:text="${document.getFilename()}">FileName</td>
                        <td th:text="${document.getSizeString()}">Size</td>
                        <td th:text="${document.getCreatedDate()}">TimeStamp</td>
                        <td>
                            <a href="JavaScript:Void(0);" th:href="'/document/' + ${i.index}" class="btn btn-outline-primary">Download</a>
                        </td>
                        <td>
                            <a href="JavaScript:Void(0);" th:data-file-description="${document.getDescription()}"
                               th:data-is-public="${document.isPublic()}" th:data-document-index="${i.index}"
                               onclick="initShareModal(this)" class="btn btn-outline-primary"
                               data-toggle="modal" data-target="#shareFileModal">Sharing</a>
                        </td>
                        <td>
                            <a href="JavaScript:Void(0);" th:href="'/document/trash/' + ${i.index}" class="btn btn-outline-danger">Trash</a>
                        </td>
                        <td>
                            <a href="JavaScript:Void(0);" th:href="'/document/pin/' + ${i.index}" class="btn btn-outline-primary">Pin</a>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>

    </div>


</div>

<script>
    $('document').ready(function () {
        $('#fileUpload').on('change',function(){
            var fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName);
        });

        setTimeout((() => {
            $("#messageAlerts").animate({
                height: "hide"
            }, 1000);
        }), 3000);
    });

    function initShareModal(target) {
        let documentIndex = target.dataset.documentIndex;
        let fileDescription = target.dataset.fileDescription;
        let isPublic = target.dataset.isPublic === "true";
        $('#fileShareForm #result').html("");
        $("#fileShareForm #result").hide(0);
        $('#fileShareForm #updateFileDescription')[0].value=fileDescription;
        $('#fileShareForm #togglePublic').attr("data-document-index", documentIndex);
        $('#fileIndex').val(documentIndex);
        if(isPublic) {
            $('#fileShareForm').attr("action", "/document/makeprivate/");
            $('#fileShareForm .form-group.updateFileDescription').hide();
            $('#fileShareForm #togglePublic').html("Make Private");
        } else {
            $('#fileShareForm').attr("action", "/document/makepublic/");
            $('#fileShareForm .form-group.updateFileDescription').show();
            $('#fileShareForm #togglePublic').html("Make Public");
        }
    }

    function getShareLink(event) {
        $('#fileShareForm #result').html("");
        let xhttp = new XMLHttpRequest();
        let formData = $('#fileShareForm').serialize();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let res = this.response;
                $('#fileShareForm #result').html("Private Share Link: \n" + window.location.origin + "/shared/" + res);
                $("#fileShareForm #result").show(150);
            } else if (this.readyState == 4 && this.status == 400) {
                let res = JSON.parse(this.response);
                $('#fileShareForm #result').html("Error Retrieving Link. PLease try again later.");
                $("#fileShareForm #result").show(150);
            }
        };

        xhttp.open("POST", "/document/privateLink/", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(formData);
    }

</script>

</body>
</html>